node_modules/
.env
artifacts/
cache/
dist/
build/
coverage/
*.pdf
types/

# Backend specific
backend/node_modules/
backend/.env
backend/uploads/

venv/
__pycache__/
*.pyc
.env
backend/.env
frontend/.env
node_modules/