# Dependencies
node_modules/
backend/node_modules/

# Hardhat
artifacts/
cache/
types/

# Python
venv/
__pycache__/
*.pyc

# Environment
.env
backend/.env
frontend/.env

# PDFs
*.pdf

# Test output
test_output.txt

# Sample data (if not needed in repo)
sample_invoices/

# Circom
circom/

# ZKP
zk/*.ptau
zk/build/
zk/proofs/
zk/witness/
zk/keys/
*.r1cs
*.sym
*.wasm
*.zkey
*.wtns