# -----------------------
# ZKP / Groth16
# -----------------------

# Trusted setup
zk/*.ptau

# Generated proving/verification keys
zk/keys/

# Generated witnesses
zk/witness/

# Generated proofs
zk/proofs/

# Generated circuit artifacts
zk/build/

# Circom compiled files
*.r1cs
*.sym
*.wasm
*.zkey
*.wtns
verification_key.json
proof.json
public.json